* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.padre {
    display: grid;
    grid-template-columns: 1fr 1fr 25em;
    grid-template-rows: repeat(5 1fr);
    column-gap: 1em;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "seccion1 seccion1 aside"
        "seccion2 seccion2 aside"
        "footer footer footer";
}

header {
    background-color: #CFD8DC;
    grid-area: header;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

nav {
    grid-area: nav;
}

.hijo ul li img {
    width: 8em;
    margin-left: 1em;
}

.hijo ul li a {
    margin-left: 3em;
    font-weight: bold;
    font-size: 1.5em;
}

.hijo ul li a:hover {
    margin-left: 3em;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    background-color: #FFAB91;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    color: #fff;
}

.logo {
    display: flex;
}


.parte1 {
    grid-area: seccion1;
    display: flex;
    flex-direction: column;
    border: .25em solid #9E9E9E;
    border-radius: 1em;
    margin: 1em;
    background-color: #34495E;
}

/*---------------Titulo y texto abajo---------------*/
.parte1 h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: .5em;
    margin-bottom: .5em;
}

.parte1 p {
    text-align: center;
    font-size: 1.6em;
    color: #000;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    padding: .3em;
    margin: 2em 1em .5em 1em;
}

/*-----------Comienzo de ALGUNOS PRODUCTOS----------*/
.parte2 {
    grid-area: seccion2;
    background-color: #FBE9E7;
    border-radius: 1em;
    border: .25em solid #9E9E9E;
}

.parte2 div img {
    width: 45%;
    border-radius: 1em;
    border: .25em solid #9E9E9E;
}

.escucha {
    display: inline;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    margin: 2em;
}



/*---------------Algunos productos-- fotos------------------*/
.cajaFoto {
    display: flex;
    justify-content: space-around;
    height: 35em;
    width: 100%;

}

.cajaFoto2 {
    display: flex;
    justify-content: space-around;
}

.cajaFoto2 a img {
    width: 90%;
    height: 100%;
    border-radius: 1em;
    border: .25em solid #9E9E9E;
}

.cajaVideo {
    display: flex;
    justify-content: center;
}

.video {
    width: 95%;
    height: 27em;
    margin: 2em .5em 2em .5em;
    border-radius: 1em;
}



/*--------------OFERTAS--------------*/
aside {
    grid-area: aside;
    border: .25em solid #9E9E9E;
    border-radius: 1em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBE9E7;
}

aside h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: .5em;
}

aside img {
    width: 90%;
    height: auto;
    margin: 1em 0;
    border-radius: 1em;
    border: .25em solid #9E9E9E;
}

/*------------comienzo de footer--------------*/

footer {
    grid-area: footer;

}

footer {
    display: flex;
    flex-direction: column;
    background-color: #FFAB91;
    padding: 2em;
    margin-top: 2em;
}

footer p {
    display: flex;
    justify-content: center;
    margin: .3em;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes li a {
    padding: 1em;
}

/*----------------SECCION DE OFERTAS-------------*/

h5 {
    font-size: 3em;
    text-align: center;
    margin: 2em;
}

.gridPadre {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20em 20em 20em;
    row-gap: 3em;
    grid-template-areas:
        "malla1 malla2 malla3 malla4"
        "bermuda1 bermuda2 bermuda3 bermuda4"
        "ojota1 ojota2 ojota3 ojota4";
}

.gridPadre img {
    width: 100%;
    height: 100%;
    border: .5em solid #9E9E9E;
    border-radius: 1em;
}

.imagenGaleria:hover {
    border: .5em solid #E57373;
}

.img1 {
    grid-area: malla1;
}

.img2 {
    grid-area: malla2;
}

.img3 {
    grid-area: malla3;
}

.img4 {
    grid-area: malla4;
}

.img5 {
    grid-area: bermuda1;
}

.img6 {
    grid-area: bermuda2;
}

.img7 {
    grid-area: bermuda3;
}

.img8 {
    grid-area: bermuda4;
}

.img9 {
    grid-area: ojota1;
}

.img10 {
    grid-area: ojota2;
}

.img11 {
    grid-area: ojota3;
}

.img12 {
    grid-area: ojota4;
}

/*----------------SECCION DE PRODUCTOS-------------*/
.fondoDegrade {
    background: rgb(8, 244, 228);
    background: linear-gradient(90deg, rgba(8, 244, 228, 1) 0%, rgba(0, 212, 255, 1) 48%, rgba(18, 20, 22, 1) 100%);
}

.padreProductos {
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20em 20em 20em;
    row-gap: 1em;


}

.padreProductos img {
    width: 100%;
    height: 100%;
    border: .5em solid #9E9E9E;
    border-radius: 1em;
}

.padreProductos img:hover {
    border: .5em solid #9575CD;
}

/*-----------------media query / movil-------------*/

@media only screen and (max-width:599px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .padre {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "header "
            "nav"
            "seccion1"
            "seccion2"
            "aside"
            "footer";
    }
    header{
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    .parte1 {
        grid-area: seccion1;
    }
    .parte2 {
        grid-area: seccion2;
    }
    aside {
        grid-area: aside;
    }
    footer {
        grid-area: footer;
    
    }
    .cajaFoto {
        display: flex;
        flex-direction: column;
    }
    .cajaFoto2 {
        display: flex;
        flex-direction: column;
    }
    
    /*-------ofertas- movil---------*/
    .gridPadre {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(12 auto);
        row-gap: 3em;
        grid-template-areas:
            "malla1" 
            "malla2" 
            "malla3" 
            "malla4"
            "bermuda1"
            "bermuda2" 
            "bermuda3" 
            "bermuda4"
            "ojota1" 
            "ojota2" 
            "ojota3" 
            "ojota4";
    }
    /*-------productos-movil----------*/
    .padreProductos {
        display: grid;
        justify-content: center;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        row-gap: 1em;
    
    
    }
}

/*------Animaciones, transformaciones y transiciones------*/

h1 span{
    transition: .5s linear;
}
h1:hover span:nth-child(1){
    margin-right: .2em;
}
h1:hover span:nth-child(2){
    margin-right: .2em;
    margin-left: .2em;
}

h1:hover span{
    color: #fff;
    text-shadow: 0 0 5px #fff;
}
h1:hover .disappear{
    color: #34495E;
    text-shadow: 0 0 10px #34495E;

}

/*con un hover y una transformacion agrando las fotos de la pagina productos*/

.gridPadre img:hover{
    transform: scale(1.2);
}
.padreProductos img:hover{
    transform: scale(1.2);
}

/*voy a hacer que cambie de color el borde de cada img que le pase el mouse por arriba*/

.gridPadre img:hover{
    animation: changeBorder 1s infinite;
}

@keyframes changeBorder{
    0%{
        border: .5em solid gray;
    }
    25%{
        border: .5em solid #fff;
    }
    50%{
        border: .5em solid gray;
    }
    75%{
        border: .5em solid #fff;
    }
    100%{
        border: .5em solid gray;
    }
}





